a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: tomato;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:rgb(229, 241, 55);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgb(23, 37, 233);
    background-color: transparent;
    text-decoration: none;
}
