a:link, a:visited {
    color: rgb(14, 158, 14);
    background-color: rgb(223, 223, 235);
    text-decoration: none;
    font-size: 25px;
    padding: 10px 10px;
    display: inline-block;
    font-weight: bolder;
}

a:hover, a:active {
    background-color: brown;
}